language: php

php:
  - 7.2
  - 7.3
  - 7.4snapshot

services:
  - postgresql
  - mysql

env:
  - DB=agnostic #only database agnostic tests
  - DB=mysql
  - DB=sqlite

install:
  - rm -f ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini
  - composer install

before_script:
  - if [[ $DB != 'agnostic' && $DB != 'sqlite' ]]; then tests/bin/setup.$DB.sh; fi

script:
  - vendor/bin/phpunit -v -c tests/$DB.phpunit.xml;

matrix:
  include:
    - php: 7.2
      env: DB=mysql MARIADB=5.5
      addons:
        mariadb: 5.5
    - php: 7.2
      env: DB=mysql MARIADB=10.0
      addons:
        mariadb: 10.0
    - php: 7.2
      env: DB=pgsql POSTGRES=9.2
      addons:
        postgresql: 9.2

    - php: 7.2
      env: DB=pgsql POSTGRES=9.3
      addons:
        postgresql: 9.3

    - php: 7.2
      env: DB=pgsql POSTGRES=9.4
      addons:
        postgresql: 9.4

    - php: 7.2
      env: DB=pgsql POSTGRES=9.5
      addons:
        postgresql: 9.5

    - php: 7.2
      env: DB=pgsql POSTGRES=9.6
      addons:
        postgresql: 9.6

  fast_finish: true

cache:
  directories:
    - vendor
    - $HOME/.composer/cache

notifications:
  webhooks:
    - http://propel.jarves.io/build.php
    - https://webhooks.gitter.im/e/206efe76e183f9ade489
